<div class="container">
    <div class="body">
        <h1>Let's get in touch!</h1>

        <div class="contact">
            <div class="enquire">
                <h2>Work Enquiry</h2>
                <p>Lets Work together</p>
            </div>
            <div style="margin-top: 40px;" class="enquirebtn">
                <a href="mailto:samfrosh673@gmail.com">Contact me</a>
            </div>
        </div>

        <p class="contact_icons">
            <a href="https://twitter.com/sarhmfrosh" target="_blank"
              ><img src="assets/images/tweet.png" alt=""
            /></a>
            <a href="https://github.com/Samfrosh" target="_blank"
              ><img src="assets/images/github.png" alt=""
            /></a>
            <a href="https://www.linkedin.com/in/akinyemi-samuel-a41a611b4/" target="_blank"
            ><img src="../../../assets/images/linkedin.png" alt=""
          /></a>
            <a target="_blank" href=""
              ><img src="assets/images/instagram.png" alt=""
            /></a>
          </p>
    </div>
</div>
