<div class="home_container">
  <div class="row">
    <div class="bodytext">
      <div class="section_part">
        <div class="section section1">
          <h2><span style="color: orangered">Hi</span> all, I'm Samuel</h2>
          <p>
            A Passionate Full Stack Developer and Mobile App Developer
            having an experience of building Web applications with Angular /
            Java / Spring / Mysql and some other cool frameworks and libaries
            and Mobile Applications with Android Studio
          </p>

          <p class="contact_icons">
            <a href="https://twitter.com/sarhmfrosh" target="_blank"
              ><img src="assets/images/tweet.png" alt=""
            /></a>
            <a href="https://github.com/Samfrosh" target="_blank"
              ><img src="assets/images/github.png" alt=""
            /></a>
            <a href="https://www.linkedin.com/in/akinyemi-samuel-a41a611b4/" target="_blank"
            ><img src="../../../assets/images/linkedin.png" alt=""
          /></a>
            <a target="_blank" href=""
              ><img src="assets/images/instagram.png" alt=""
            /></a>
          </p>

          <div class="cv_links">
            <a class="cv_links" href="../../../assets/images/samuel.docx" download>
              <img src="assets/images/cvicon.png" alt="" /> Download my CV</a
            >
          </div>
        </div>

        <div class="section section2">
          <img src="../../../assets/images/animatecode.gif" alt="" />
        </div>
      </div>
      
    </div>
    <div class="myabout">
       A wise Person Once said <br> <br> <b>Your Portfolio is a reflection of who you are as a person </b>
        <br>
        <br>
       Please Do feel free to navigate  through the links for a personal experience 
    
    </div>
   
  </div>
</div>
