<div class="container">
  <div class="body">
    <h1>Take a look at some of my works!</h1>
    
     <div class="work">
       <div class="work1">
        <a href="https://pickupsapp.com/"><img
            src="../../../assets/images/mart.png"
            alt=""
            width="100%"
            height="auto"
          /></a>
        <p>Mart Ecommerce Page</p>
        <p><b>JAVA,SPRING-BOOT,ANGUALR,TYPESCRIPT,TAILWIND,MYSQL</b></p>
      </div>
    
      
      <div class="work1">
        <a href="https://pickupsapp.com/"><img
            src="../../../assets/images/pickups.png"
            alt=""
            width="100%"
            height="auto"
          /></a>
        <p>Delivery Landing Page</p>
        <p><b>HTML,CSS,JQUERY</b></p>
      </div>
    </div>
      

    <div class="work">
        <div class="work1">
            <div style="padding: 20px; background-color: gray; height: 250px;" class="workback">
                <a href="https://github.com/Samfrosh/Dictionary.git"><img
                    src="../../../assets/images/dictionary.png"
                    alt=""
                    width="100%"
                    height="auto"
                  /></a>
            </div>
          
          <p>Android Mobile Dictionary</p>
          <p><b>JAVA,ANDROID,REST,GRADLE,POSTMAN</b></p>
        </div>
      
      
      <div class="work1">
        <a href="https://a-samuel-weather.netlify.app/"><img
            src="../../../assets/images/weather.png"
            alt=""
            width="100%"
            height="auto"
          /></a>
        <p>Angular Weather App</p>
        <p><b>ANGULAR,TYPESCRIPT,TAILWIND,SCSS,REST,POSTMAN</b></p>
      </div>
      </div>
  
       
        <div class="work">
          <div class="work1">
          <a href="https://justinaconvalescenthomeltd.com/"><img
              src="../../../assets/images/jch.png"
              alt=""
              width="100%"
              height="auto"
            /></a>
          <p>Ecommerce Website App Front End</p>
          <p><b>HTML,CSS,JQUERY,JAVASCRIPT</b></p>
        </div>
      </div>
      <p style="text-align: center;">Wrong url... Dont worry, I have it under control, by display a <a style="color: orangered;  font-family: 'Times New Roman', Times, serif;" routerLink="/oops">404 page</a></p>
  </div>
</div>
