<div class="container">
  <div class="con_sec">
    <div class="navbar" style="border-right: 1px solid white">
      <div class="nav">
        <p>A/<span>s</span></p>
      </div>
      <div class="nav menu" (click)="onclick()">
        <img src="../assets/images/menus.png" alt="" />
      </div>
      <div class="nav links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/resume">About</a></li>
        <li><a routerLink="/works">Works</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </div>

      <div class="nav username">
        <p>A.samuel</p>
      </div>
    </div>
  

  <div class="column">
    <router-outlet></router-outlet>
  </div>

  <div class="menudiv" *ngIf="visible">
    <div class="res_link">
      <li (click)="onclick()"><a routerLink="/home">Home</a></li>
      <li (click)="onclick()"><a routerLink="/resume">About</a></li>
      <li (click)="onclick()"><a routerLink="/works">Works</a></li>
      <li (click)="onclick()"><a routerLink="/contact">Contact</a></li>
    </div>

    <div style="color: white" class="menuicons">
      <p>Copyright © 2023 Samuel. All Rights Reserved.</p>

      <div>
        <a href="https://twitter.com/sarhmfrosh" target="_blank"
          ><img src="assets/images/tweet.png" alt=""
        /></a>
        <a href="https://github.com/Samfrosh" target="_blank"
          ><img src="../assets/images/github.png" alt=""
        /></a>
        <a href="www.linkedin.com/in/akinyemi-samuel-a41a611b4" target="_blank"
          ><img src="assets/images/linkedin.png" alt=""
        /></a>
        <a target="_blank" href=""
          ><img src="assets/images/instagram.png" alt=""
        /></a>
      </div>
    </div>
  </div>
</div>
</div>
