<div class="container">
    <div class="body">
        <h2> <span style="color: orangered;">Hi</span>, I am  Samuel Akinyemi</h2>
        <h3>Java/Spring Developer.</h3>
        <div class="section">
            <div class="section1">
               <p> I worked in the Industry for <b>2 years</b>, I’ve done this because I’ve always been fascinated by web development and it works, being surrounded by computer games growing up. I know I possess the necessary skills and experience you are seeking and would make a <b>valuable addition</b> to your company.</p>
                <br>

                <p>I started my Full-Stack Journey in 2019 when i enrolled in a technical college called <b>APTECH</b> where i was taught the ways of a software developer. i was taught the ablity to <b>speak volumes</b> with just few lines of code using programming languages that are trending even till today.</p>
                <br>

        <p>In 2020 i got my <b>first</b> Software Devloper Job where i was tasked with the role of a <b>Junior Java Software engineer</b> with a startup company and oh... it was a lovely experience working with the team,  i was tasked with creating mobile and Web application using JAVA,HTML,CSS,JQUERY,PHP,ANDROID,MYSQL... i soon got into the role in just few weeks i was already been asigned on working with a stand-alone module used by thousand of individuals.</p>

                <br>
                <p>I have built my career around leadership, problem-solving, communication, and team mentality by managing students who need to get a background in the Tech world.</p>
<br>
                <p>
                    I am a lifelong learner, and I can be a valuable addition to your team based on my determination, constant self-improvement and always wanting a new challenge will surely be of addition to the team.
                </p>

                <br>
                <p>Still Here.....</p>
                <p>why not check my <a style="color: orangered;" routerLink="/works">Works</a></p>

            </div>
        </div>

    </div>
</div>
